@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap/_variables";

//$color-main: $brand-primary;
$color-main: #00b3ee;
//$color-main-alternative: #00b3ee;
$color-main-alternative: $brand-primary;
$color-calendar-holiday: #ff3950;