<!DOCTYPE html>
<html lang="ru-RU" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set _blockTitle = block('title') %}
    <title>{% block title %}{% endblock %}{% if _blockTitle is not empty %} | {% endif %}Система стримов Kraken&#039;s Lair</title>
    <!--
    __/\\\________/\\\__________________________________________________________________________/\\\\_________________________/\\\________________________________________________
     _\/\\\_____/\\\//________________________________/\\\______________________________________\///\\________________________\/\\\________________________________________________
      _\/\\\__/\\\//__________________________________\/\\\_______________________________________/\\/_________________________\/\\\_____________________________/\\\_______________
       _\/\\\\\\//\\\______/\\/\\\\\\\___/\\\\\\\\\____\/\\\\\\\\________/\\\\\\\\___/\\/\\\\\\___\//_____/\\\\\\\\\\___________\/\\\______________/\\\\\\\\\____\///___/\\/\\\\\\\__
        _\/\\\//_\//\\\____\/\\\/////\\\_\////////\\\___\/\\\////\\\____/\\\/////\\\_\/\\\////\\\_________\/\\\//////____________\/\\\_____________\////////\\\____/\\\_\/\\\/////\\\_
         _\/\\\____\//\\\___\/\\\___\///____/\\\\\\\\\\__\/\\\\\\\\/____/\\\\\\\\\\\__\/\\\__\//\\\________\/\\\\\\\\\\___________\/\\\_______________/\\\\\\\\\\__\/\\\_\/\\\___\///__
          _\/\\\_____\//\\\__\/\\\__________/\\\/////\\\__\/\\\///\\\___\//\\///////___\/\\\___\/\\\________\////////\\\___________\/\\\______________/\\\/////\\\__\/\\\_\/\\\_________
           _\/\\\______\//\\\_\/\\\_________\//\\\\\\\\/\\_\/\\\_\///\\\__\//\\\\\\\\\\_\/\\\___\/\\\_________/\\\\\\\\\\___________\/\\\\\\\\\\\\\\\_\//\\\\\\\\/\\_\/\\\_\/\\\_________
            _\///________\///__\///___________\////////\//__\///____\///____\//////////__\///____\///_________\//////////____________\///////////////___\////////\//__\///__\///__________
    -->
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
    {% stylesheets '@bootstrap_css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets '@base_css' '@calendar_css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
</head>
<body>
<div id="base">
    {% include 'layout/_header.html.twig' %}

    <section id="content">
        <div class="container">
            {% include 'layout/_flash.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </section>

    <footer></footer>
</div>
{% javascripts '@jquery' '@bootstrap_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
